#Redux_Implementation #Navbar {
  display: flex;
  justify-content: space-between;
}

#Redux_Implementation #Navbar .navbar-brand{
  font-size: 36px;
  transform: translateY(-2px);
}

#Redux_Implementation #Navbar .form-inline > * {
  font-size: 12px;
  padding: 5px 10px;
}

#Redux_Implementation #Navbar .form-inline > input {
  width: 300px;
}

#Redux_Implementation #Navbar .nav-icon-list {
  display: flex;
}

#Redux_Implementation #Navbar .nav-icon.selected {
  background-color: white;  
}

#Redux_Implementation #Navbar .nav-icon {
  position: relative;
  cursor: pointer;
  padding: 6px 11px 4px 9px;
  border-radius: 5px;
  transform: translateX(8px);
}

#Redux_Implementation #Navbar .nav-icon:hover {
  background-color: white;
}

#Redux_Implementation #Navbar .nav-icon > img {
  filter: drop-shadow(0px 0px 1px blue);
}

#Redux_Implementation #Navbar .nav-icon > span {
  position: absolute;
  top: 9px; right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  padding: 2px 6px 0px 5px;
  height: 15px;
  font-size: 9px;
  border-radius: 100px;
  background-color: rgb(255, 115, 0);
  color: white;
}