#Components .CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Components .Card {
    position: relative;
    width: 200px;
    height: 150px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#Components .Card img {
    height: 60%;
}

#Components .Card p {
    position: absolute;
    font-size: 12px;
    bottom: 15px;
}

#Components button {
    cursor: pointer;
    outline: 0 !important;
    background-color: greenyellow;
    color: black;
    font-weight: bolder;
    border: 0;
    padding: 10px 20px;
    margin: 10px 10px 20px;
    border-radius: 100px;
}

#Components button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}