#Hooks .list-page {
  height: 89%;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  gap: 20%;
  padding: 15px 15%;
}

#Hooks .list-page > a {
  height: 100%;
  width: 33.3%;
  padding : 20px; 
}

#Hooks .list-page > a:link {
  text-decoration: inherit;
  color: inherit;
}

#Hooks .list-page > a:visited {
  text-decoration: inherit;
  color: inherit; 
}