#Backend_Post > .container-context .container-operation .tab-pane > div {
  width : 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#Backend_Post > .container-context .container-operation .tab-pane > div > span {
  display : flex;
  gap: 6px;
  flex-direction: column;
  align-items: flex-start
}

#Backend_Post > .container-context .container-operation .tab-pane > div > span > label {
  font-size: 14px;
  color: rgb(124, 124, 124);
  font-weight: bold;
  margin-left: 5px;
}

#Backend_Post > .container-context .container-operation .tab-pane > div > span > .form-control {
  width: 100%;
  border-radius: 2px;
  font-size: 14px;
  text-align: start;
  text-indent: 0;
  padding: 7px 5px;
}

#Backend_Post > .container-context .container-operation .tab-pane > div > span > .input-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#Backend_Post > .container-context .container-operation .tab-pane > div > span > .input-range > input {
  width: 92%;
}

#Backend_Post > .container-context .container-operation .tab-pane > div > span > .input-range > span {
  display: flex;
  width: 8%;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

#Backend_Post > .container-context .container-operation .tab-pane > div > span > .input-range > span > p {
  font-size: 12px;
  font-weight: bold;
}

#Backend_Post > .container-context .container-operation .tab-pane > div > button {
  align-self: center;
  font-weight: bold;
  width: auto;
  margin-top: 5px;
}